/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style starts*/
body {
	background-image: linear-gradient(rgba(201, 231, 27, 0.664),  rgba(201, 231, 27, 0));
}
.content {
	display: flex;
	font-size: 15px;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin: auto;
		
	
}

h1 {
	text-align: center;
	color: rgba(14, 79, 219, 0.487);
	font-family: 'Lobster Two', cursive;
	font-size: 70px;
	margin: 10px;
}

	
.some-input{
	padding-left: 5px;
    padding-right: 20px;
	font-size: 100%;
	font-family: 'Dosis', sans-serif;
	margin-left: 10px;
	
	/* border-left: 1px solid rgba(92, 138, 107, 0.363); */
}

li {
	border-bottom: 1px solid rgba(92, 138, 107, 0.363);
}


#container {
	margin-top: 10px;
	border: 2px inset rgba(124, 243, 164, 0.363)
}

#add-new, #container{
	box-shadow: 3px 3px 3px  rgba(198, 233, 227, 0.651);
	
} 



input:focus {
	/* border-color: darkseagreen; */
	background-color: antiquewhite;
}

/* .main-header #add-new {
	margin-left: 22px;
} */

.input-items {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 5px 0;

}
